body{
    background-image: url(https://i.ytimg.com/vi/QI7iuN3fIi0/maxresdefault.jpg);
    background-size: cover;
}
h3{
    color: yellow;
    font-weight: bold;
}
p{
    font-weight: 900;
    font-size: 1.5rem;
    position: relative;
}
.bir{
    color: white;
}






\