h1{
    text-align: center;
    color: darkblue;
}
div{
    width: 30%;
    display:inline-block
    

}

.box{
    border: groove;
    margin-left: 10px;
    margin-right: 10px;
}
.box2{
    border: groove;
    margin-right: 10px;
}
.box3{
    border: groove;
}